@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
@*     <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
    <img src=".\img\resident_alien_season_2_key_art_0.jpg" />
</div>
